# Untracked files and directoires:

*.ini

config.py

*.sql

*.code-workspace

/.vscode

/api_env/
/api_env

/__pycache__
/resources/__pycache__
/Include
/Lib
/Scripts
/tcl
pip-selfcheck.py
config_aws.py
config_local.py
config.py



# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

