# Untracked files and directoires:

*.ini

config.py

*.sql

*.code-workspace

/.vscode

/API/api_env/
/API/api_env

/API/__pycache__
/API/resources/__pycache__
/API/Include
/API/Lib
/API/Scripts
/API/tcl
/API/pip-selfcheck.py
/API/config_aws.py
/API/config_local.py