
body {
  padding-bottom: 50px;
  background-color: #F8F8F8;
}

/* page margins */
body>.container {
  max-width: 70rem;
  border: 1px solid #BEBEBE;
  padding: 18px;
  padding-top: 2px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/* title font */
.acme {
  font-family: 'Acme';
  font-size: 30px;
}

/*
 *navbar stuff
 */
a.navbar-brand{
	text-align: center;
	display:inline-block;
}

nav.navbar{
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tag{
  font-size: 12px;

}















/* everything for settings overlay 
*needs fixing
*/
.overlay {
  height: 0%;
  width: 25%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(105, 62, 62, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#bsovlay {
  height: 80%;
  width: 25%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(105, 62, 62, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
