
/*
 * Fonts
 */
.font-header {
  /*font-family: 'Acme';*/
  font-family: 'Abril Fatface', cursive;  
  font-size: 2.2em !important;  
}

.title a {
  font-family: 'Merriweather', serif;
  font-size: 0.9em;  
  text-decoration: none;
  color: black;
}

.title a:hover {
  color: black;
  text-decoration-color: #dfdfdf !important;
}

.title a:visited {
  text-decoration: none;
  color: black;
}

.section {
  font-size: 0.9em;  
  color: #4d4d4d;
  border-top: 0.1em solid #dddddd;  
  margin-bottom: 1em;
}

.main {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.margins1 {
  margin-bottom: 1.5em;
}

.margins2 {
  margin-top: 2em;
}
/*
 * Page structure
 */
body {
  padding-bottom: 50px;
  background-color: #F8F8F8;
}
/* page margins */
body>.container-fluid {
  max-width: 70rem;
  /*border: 1px solid #BEBEBE;*/
  padding-top: 2px;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 50px;
}


/*
 * Navbar 
 */
a.navbar-brand{
  /*
	text-align: center;
  display:inline-block;
  */
  font-family: 'Abril Fatface', cursive;  
  font-size: 2.2em !important;  
}
nav.navbar{
  
  margin-bottom: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: #ffffff;
  
}

/* login button 
nav>button {
  background-color: #003459;
  border: 1px solid #003459;
  color: white;
}*/

/*
 * Card display for posts
 */
 @media screen and (min-width: 768px){
  .card {
    flex-direction: row;
  }

  .card img {
    height: 100%;
    width: auto;
    max-width: 40%;
  }
}
.card {
  width: 100%;
  margin-bottom: 1rem;
}
.card img{
  max-height: 15rem;
}
.card-body {
  padding: 1rem;
}


/*
 * Misc
 */
.tag{
  font-size: 12px;

}
.center{
  margin-right: 15rem;
}


btn-search {
  color: black !important;  
}


/* everything for settings overlay 
*needs fixing
*/
.overlay {
  height: 0%;
  width: 25%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(105, 62, 62, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#bsovlay {
  height: 80%;
  width: 25%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(105, 62, 62, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
