
body {
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 *navbar stuff
 */
a.navbar-brand{
	text-align: center;
	display:inline-block;
}

nav.navbar{
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.tag{
  font-size: 12px;

}

.acme {
  font-family: 'Acme';
  font-size: 30px;
}

@media (min-width: 48em) {
  .container {
    max-width: 70rem;
  }
}
